body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.card{
background:white;
padding:20px;
width:300px;
margin:auto;
margin-top:100px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.profile{
width:120px;
border-radius:50%;
}